@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  li {
    list-style-type: none;
  }
  img{
    max-height: 17vw;
    min-height: 17vw;
    max-width:17vw;
    min-width: 17vw;
  }

}


