@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Slabo+27px');
body {
  // font-family: sans-serif;
  font-family: 'Oxygen', sans-serif;
  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  li {
    list-style-type: none;
  }
  
  img{
    max-height: 15vw;
    min-height: 15vw;
    max-width: 10vw;
    min-width: 10vw;
    border-radius: 1em;    
  }

  .navbar {
    justify-content: center;
    height: 70px;
    width: 100%;
  
    .search-bar {
      justify-content: center;
      margin: auto;
      align-items: center;
    }
  
    .greeting {
      justify-content: center;
      margin: auto;
      align-items: center;
      color: white;
    }
  }

  .title {
    font-size: 6em;
    font-family: 'Libre Barcode 39 Text', cursive;    
  }

  .all-products-picture {
    font-family: 'Slabo 27px', serif;    
    padding: 1px;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-width: .20em;
  }

  .all-products-picture:hover {
    color: rgb(0,123,255);
    border-color: rgb(0,123,255);
    border-width: .25em;
    border-radius: 1em;
  }

  .link:link {
    color: black;
    text-decoration: none;
  }
  .link:hover {
    color: rgb(0,123,255);    
  }

  .single-product {
    width: 50%;
    margin: auto;
  }

  .prev-orders {
    color: goldenrod;
  }

  .order-status {
    color: rgb(74, 165, 74);
  }
  

}

.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
