@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
  // font-family: sans-serif;
  font-family: 'Oxygen', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

  li {
    list-style-type: none;
  }
  
  img{
    max-height: 25vw;
    min-height: 20vw;
    max-width: 20vw;
    min-width: 20vw;
  }

  .navbar {
    justify-content: center;
    height: 70px;
    width: 100%;
  
    .search-bar {
      justify-content: center;
      margin: auto;
      align-items: center;
    }
  
    .greeting {
      justify-content: center;
      margin: auto;
      align-items: center;
      color: white;
    }
  }

  .single-product {
    width: 50%;
    margin: auto;
  }

  .prev-orders {
    color: goldenrod;
  }

  .order-status {
    color: rgb(74, 165, 74);
  }
  

}


